<launch>
  <param name="xml_config_file" type="string" value="$(find diagnose)/param/tiangong2.0_pro.xml" />

  <node pkg="nodelet" type="nodelet" name="nodelet_manager_diagnose"  args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="DebuggerNodelet" args="load debugger/DebuggerNodelet nodelet_manager_diagnose" output="screen">
    <param name="xml_config_file" type="string" value="1234" />
  </node>
</launch>
