<launch>
  <param name="xml_config_file" type="string" value="$(find diagnose)/param/simulate.xml" />

  <node pkg="nodelet" type="nodelet" name="nodelet_manager2"  args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="DebuggerNodelet" args="load debugger/DebuggerNodelet nodelet_manager2" output="screen">
  </node>
</launch>
